.form {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
}

p {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	padding-right: 50px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 130px;
	text-align: left;
}

.label {
	text-align: right;
	max-width: 250px;
	padding-right: 15px;
}

.submit {
	margin-right: 30px;
}

button {
	margin-top: 15px;
}