version: "3"

services:
  mongodb:
    image: "bitnami/mongodb:latest"
    ports:
      - "27017:27017"
    volumes:
      - ./mongodata:/bitnami:rw
    environment:
      - MONGODB_USERNAME=prototype
      - MONGODB_PASSWORD=password123
      - MONGODB_DATABASE=minnehack
      - MONGODB_EXTRA_FLAGS=--quiet
  # api:
  #   image: minnehack/api
  #   container_name: transaction-api
  #   build:
  #     context: ./api
  #   volumes:
  #     - ./api:/user
  #   ports:
  #     - "9000:9000"
