version: '3'

services:
  mongodb:
    image: 'bitnami/mongodb:latest'
    ports:
      - "27017:27017"
    volumes:
      - ./mongo:/mongo
    environment:
      - MONGODB_USERNAME=prototype
      - MONGODB_PASSWORD=password123
      - MONGODB_DATABASE=minnehack
      - MONGODB_EXTRA_FLAGS=--quiet